/* Use SF Pro everywhere */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
h1 a,
.title,
.fx .entry .summary,
.fx .button,.fx button,.fx-button {
  font-family: 'SF Pro Text' !important; /* Explicity set SF Pro Text as Chrome on Catalina is broken */
  letter-spacing: 0 !important;
}

:root {
  --left-nav-dock-width: 78px;
  --left-nav-list-width: 270px;
  --left-nav-total-width: calc(var(--left-nav-dock-width) + var(--left-nav-list-width));
}

.Leftnav__dock {
  width: var(--left-nav-dock-width) !important;
  padding-top: 38px !important;
}

.LeftnavList {
  width: var(--left-nav-list-width) !important;
  margin-left: var(--left-nav-dock-width) !important;
}

/* Dock Closed */
#feedlyFrame,
#barsFX {
  margin-left: var(--left-nav-dock-width) !important;
}

#feedlyFrame {
  height: 100%;
}

#feedlyPageHolderFX {
  min-height: 100% !important;
}

/* Dock Peek */
.feedlyChrome--leftnav-peek .LeftnavPin {
  margin-left: var(--left-nav-dock-width) !important;
}

/* Dock Pinned */
.feedlyChrome--leftnav-open #feedlyFrame,
.feedlyChrome--leftnav-open #barsFX,
.feedlyChrome--leftnav-open .LeftnavPin {
  margin-left: var(--left-nav-total-width) !important;
}

/* Make the window draggable, when scrolled nothing seems to work */
#barsFX {
  -webkit-app-region: drag !important;
}
